<!DOCTYPE html>
<html>
  <head>
    <title>Ismile</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>直樹です！</p>
    <%= yield %>
  </body>
</html>
