<!DOCTYPE html>
<html>
  <head>
    <title>Ismile</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Let's smilling!</h1>
    <form class="">
      <textarea name="name" rows="8" cols="80"></textarea>
      <input type="submit" name="" value="笑って">
    </form>
    <%= yield %>
  </body>
</html>
